block header
  #site-nav
    block site_nav
      a(href="/")
        img#nav-logo(src="/images/pages/base/logo.png", title="CodeCombat - 在游戏中学习编程", alt="CodeCombat")
      div#site-nav-links
        a(href="/")
          img#small-nav-logo(src="/images/pages/base/logo.png", title="CodeCombat - Learn how to code by playing a game", alt="CodeCombat")
        a(href="/")
          span.glyphicon.glyphicon-home

        if !features.playViewsOnly
          a(href="/about", data-i18n="nav.about", style="display:none")
          if me.isStudent()
            a(href="/students", data-i18n="nav.my_courses")
          if me.isTeacher()
            a(href="/teachers/classes", data-i18n="nav.my_classrooms")
          if !me.isAnonymous() && !me.isStudent() && !me.isTeacher()
            a(href="/play", data-i18n="common.play")
            //a(href=view.forumLink(), data-i18n="nav.forum", style="display:none")
          a(href='/community', data-i18n="nav.community")

          if me.get('anonymous') === false
            span.dropdown
              button.btn.btn-sm.header-font.dropdown-toggle(href="#", data-toggle="dropdown")
                if me.get('photoURL')
                  img.account-settings-image(src=me.getPhotoURL(18), alt="")
                else
                  i.glyphicon.glyphicon-user
                span.spl.spr(data-i18n="nav.account" href="/account")
                span.caret
              ul.dropdown-menu(role="menu")
                li.user-dropdown-header
                  span.user-level= me.level()
                  a(href="/user/#{me.getSlugOrID()}")
                    div.img-circle(style="background-image: url(#{me.getPhotoURL()})")
                  h3=me.broadName()
                li
                  a(href="/user/#{me.getSlugOrID()}", data-i18n="nav.profile")
                li
                  a(href="/account/settings", data-i18n="play.settings")
                if me.isAdmin() || !(me.isTeacher() || me.isStudent() || me.freeOnly())
                  li
                    a(href="/account/payments", data-i18n="account.payments")
                if me.isAdmin() || !(me.isTeacher() || me.isStudent() || me.freeOnly()) || me.hasSubscription()
                  li
                    a(href="/account/subscription", data-i18n="account.subscription")
                if me.isAdmin()
                  li
                    a(href="/admin", data-i18n="account_settings.admin")
                if serverSession && serverSession.amActually
                  li
                    a#nav-stop-spying-button Stop Spying
                if !features.codePlay
                  li
                    a#logout-button(data-i18n="login.log_out")
  
          else
            button.btn.btn-sm.btn-primary.header-font.signup-button(data-i18n="login.sign_up")
            button.btn.btn-sm.btn-default.header-font.login-button(data-i18n="login.log_in")
        select.language-dropdown.form-control


block outer_content
  #site-content-area
    block content
      p If this is showing, you dun goofed
  .achievement-corner


block footer
    #footer-credits
      span
        span © All Rights Reserved
        br
        span CodeCombat 2017
      img#footer-logo(src="/images/pages/base/logo.png", alt="CodeCombat")
      span
        span Site Design by
        br
        a(href="http://www.fullyillustrated.com/") Fully Illustrated

    block extra_footer_content
